<div class="form-group row" [class]="customClass" [ngClass]="includeMargin ? 'mb-3' : ''">
  <div class="col-12 col-form-label">
    @if (tooltip || tooltipTemplateRef) {
      <span class="form-field-label">
        <ng-container *ngTemplateOutlet="labelText"></ng-container>
      </span>
      <app-tooltip [placement]="'top'">
        <i class="bi bi-info-circle info-icon"></i>
        <div class="tooltipContent">
          <div class="tooltip-card">
            <div class="tooltip-card-body">
              @if (tooltip) {
                {{tooltip}}
              } @else {
                <ng-container *ngTemplateOutlet="tooltipTemplateRef"></ng-container>
              }
            </div>
          </div>
        </div>
      </app-tooltip>
    } @else {
      @if (label) {
        <label class="fw-regular">{{label}}</label>
      } @else {
        <ng-content select="label"></ng-content>
        <ng-content select=".formGroupLabel"></ng-content>
      }
      @if (!required && renderOptional && editMode) {
        <span class="form-field-optional text-secondary ">(optional)</span>
      }
    }
  </div>
  <div class="col-12">
    @if (editMode) {
      <ng-content></ng-content>
    } @else {
      <span class="col-12" [ngClass]="(hasValue ? '' : ' text-muted ') + (truncateReadOnly ? ' d-inline-block text-truncate ' : '')">{{readOnlyValue}}</span>
    }
  </div>
</div>

<ng-template #labelText>
  @if (label) {
    <label class="fw-regular">{{label}}</label>
  } @else {
    <ng-content select="label"></ng-content>
    <ng-content select=".formGroupLabel"></ng-content>
  }
  @if (!required && renderOptional && editMode) {
    <span class="form-field-optional text-secondary ">(optional)</span>
  }
</ng-template>

