<nav class="mb-4">
  <div class="nav nav-tabs" role="tablist">
    <ng-content select=".nav-bar-prefix"></ng-content>
    @for (tab of tabs; track tab) {
      <a [ngClass]="(tab.tabClass ? tab.tabClass : '') + (tab == activeComponent ? ' active ' : ' ') + (tab.externalLink ? ' pe-4 ' : ' ')"
        class="position-relative nav-link px-3" (click)="activateTab(tab)"
        style="cursor: pointer">
        <ng-template [ngTemplateOutlet]="tab.tabHeader"></ng-template>
        @if (tab.externalLink) {
          <i class="fs-6 bi bi-box-arrow-up-right position-absolute" [style.top.px]="10" [style.right.px]="5"></i>
        }
      </a>
    }
    <ng-content select=".nav-bar-prefix"></ng-content>
  </div>
</nav>

<ng-template [ngTemplateOutlet]="activeComponent.templateRef"></ng-template>
