<div class="row">
  @for (v of labels; track v) {
    <div class="col-auto p-0 m-1">
      <div class="d-flex badge text-bg-info fw-normal" style="font-size: 1rem !important;">
        <span class="text-truncate">
          @if (itemTemplate) {
            <ng-container
              [ngTemplateOutlet]="itemTemplate" [ngTemplateOutletContext]="{$implicit: v}">
            </ng-container>
          } @else {
            {{formatter(v)}}
          }
        </span>
      </div>
    </div>
  }
</div>
